img {
  border-radius: 50%;
  width:50px;
  height:50px;
  margin:5px;
}
.container {
  display: inline-flex;
  border-radius: 10px;
  border-style: solid;
  border-color: #bfbfbf;
  background-color:#fefefe ;
  position: relative;
}

h6 {
margin-right:15px;
margin-left:5px;
}


.container .detailText {
  visibility: hidden;
  width: 350px;
  background-color: #bfbfbf;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 120%;
  left: 50%;
  margin-left: -80px;
}

.container .detailText::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -70px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #bfbfbf transparent;
}

.container:hover .detailText {
  visibility: visible;
}
 
